node_modules
.fuse*
dist
.next
.env
.swc
contract/broadcast/**/*
cache/
out/
tsconfig.tsbuildinfo
##forge
contract/lib/**/*
contract/cache/
contract/out/
cache/
out/


# Ignores development broadcast logs
!contract/broadcast
contract/broadcast/*/31337/
contract/broadcast/**/dry-run/


